/* eslint-disable */
/* tslint:disable */
// @ts-nocheck

import type { AxiosRequestConfig, AxiosResponse } from "axios";
import { HttpClient, RequestParams } from "./http-client";
import * as Contracts from "./data-contracts";

export class Api<SecurityDataType = unknown> extends HttpClient<SecurityDataType> {

{{#each operations}}
  /**
   * {{description}}
   * @tags {{tags}}
   * @name {{operationId}}
   * @request {{method}}:{{path}}
   */
  {{operationId}} = (params: RequestParams = {}) =>
    this.request<{{returnType}}, any>({
      path: `{{path}}`,
      method: '{{method}}',
      ...params,
    });
{{/each}}
}
