table th {
  font-weight: bold;
  text-align: left;
  padding: 8px;
  vertical-align: middle;
}
table th.required::before {
  content: "* ";
  color: red;
  font-weight: bold;
}

.register table tbody tr th { 
  background-color: #f5f5f5; 
  border: 1px solid #d9d9d9; 
  padding: 5px;
}

.register table tbody tr td { 
  border: 1px solid #d9d9d9; 
  padding: 5px; 
}


.search { 
  overflow: hidden; 
  
}


.search table { 
  width: 100%; 
  border-collapse: collapse; 
  
}

